body {
  background-color: #e0f0ff; /* azul clarinho */
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 50px;
}

h1 {
  color: #005fbe; /* azul escuro */
}

button {
  background-color: #005fbe;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 25px;
  font-size: 18px;
  cursor: pointer;
}

button:hover {
  background-color: #003f8a;
}
